<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>RoomLoot uses your location while you play to show nearby treasures and verify when you are close enough to collect them.</string>
    <key>NSCameraUsageDescription</key>
    <string>RoomLoot uses your camera to place collectible treasures in augmented reality.</string>
</dict>
</plist>

